<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://use.typekit.net/lku7gbz.css">
    <link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
    <link rel="stylesheet" href="https://2kinc.me/2kcomponents.css">
    <link rel="stylesheet" href="style.css">
    <title>BlitzBoard</title>
</head>

<body>
    <div id="app">
        <header class="mdc-top-app-bar" id="navbar">
            <div class="mdc-top-app-bar__row">
                <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
                    <button class="material-icons mdc-top-app-bar__navigation-icon">menu</button>
                    <span class="mdc-top-app-bar__title">
                        Blitzboard <span id="blitzboard-title"></span>
                    </span>
                </section>
            </div>
        </header>

        <div id="content-body" class="mdc-elevation--z1">
            <div id="topics">
                <div id="topic-home" class="topic-item selected">home</div>
                <div id="more-topics"></div>
            </div>

            <div id="main-content">
                <div id="posts">
                    <div id="new-post-wrapper">
                        <div id="new-post-main">
                            <input name="Post title" type="text" class="k-input" id="new-post-name"
                                placeholder="What are you going to talk about?"> <br>
                            <textarea name="Post content" id="new-post-content" cols="60" rows="6" class="k-input"
                                placeholder="What do you want to say in this post?"></textarea> <br>
                            <input type="file" name="Upload an image" class="inputfile" id="new-post-upload"
                                accept=".jpg,.png,.bmp" />
                            <label for="new-post-upload" class="k-button" id="new-post-upload-label">Upload an image
                                instead?</label> <br>
                            Add topics for your post: <span id="new-post-topics-wrapper"></span>
                            <select id="new-post-topics" class="k-input"></select> <br>
                        </div>
                        <button class="k-capsule k-button" id="new-post-button">+ New Post</button>
                    </div>
                    <div id="posts-bodies"></div>
                </div>
                <div id="chat">
                    <div id="chat-bodies"></div>
                    <div id="chat-input-container" class="mdc-elevation--z2">
                        <div class="mdc-text-field mdc-text-field--outlined mdc-text-field--with-trailing-icon" style="width: calc(100% - 18px);">
                            <i class="material-icons mdc-text-field__icon mdc-ripple-surface mdc-ripple-surface--primary" id="chat-input-button" tabindex="0" role="button">message</i>
                            <input class="mdc-text-field__input" id="chat-input">
                            <div class="mdc-notched-outline">
                                <div class="mdc-notched-outline__leading"></div>
                                <div class="mdc-notched-outline__notch">
                                    <label class="mdc-floating-label">Send a message</label>
                                </div>
                                <div class="mdc-notched-outline__trailing"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="loading">Loading...</div>
        </div>
    </div>

    <template id="chat-body-template">
        <div class="chat-body" v-bind:id="'chat-body-' + topic">
            <template v-for="message of messages">
                <div style="--color-secondary: black; color: black;">
                    <img v-bind:src="message.photoURL" class="profile-picture" alt="Profile Picture">
                    <div class="message-body">{{message.message}}</div>
                </div>
                <div class="message-info">
                    <span class="chat-username">{{message.displayName}}</span>
                    <span class="message-info--time"> at {{message.time}}</span>
                </div>
            </template>
        </div>
    </template>

    <template id="posts-body-template">
        <div class="posts-body mdc-layout-grid" v-bind:id="'posts-body-' + topic">
            <div class="mdc-layout-grid__inner">
                <post-wrapper v-for="post of posts" v-bind:post="post" v-bind:dbref="dbref.ref.child(post.id)"
                    v-bind:key="post.key"></post-wrapper>
            </div>
        </div>
    </template>

    <template id="post-wrapper-template">
        <div class="post-wrapper mdc-layout-grid__cell mdc-card">
            <div>
                <span class="post-top">
                    <span class="post-title">{{post.name}}</span>
                    <span class="post-user">{{post.displayName}}</span>
                </span>
            </div>
            <div class="post-content">
                <span class="post-content-span">{{post.content}}</span>
            </div>
            <div class="post-bottom mdc-card__actions">
                <button class="plus-button mdc-button mdc-button--outlined" v-on:click="addPlus()"
                    ref="plusButton">+1</button>
                <span class="post-points">{{post.pluses + post.minuses}}</span>
                <button class="minus-button mdc-button mdc-button--outlined" v-on:click="addMinus()"
                    ref="minusButton">-1</button>
                <span class="post-topics-wrapper">
                    <span v-for="topic of post.topics" class="post-topic-item">{{topic}}</span>
                </span>
            </div>
        </div>
    </template>

    <script src="https://www.gstatic.com/firebasejs/5.9.1/firebase.js"></script>
    <script> //Firebase Initializing
        var config = {
            apiKey: "AIzaSyADD6YWKrzibRMwJNi1FwUR0jcR0GitZPI",
            authDomain: "k-inc-232222.firebaseapp.com",
            databaseURL: "https://k-inc-232222.firebaseio.com",
            projectId: "k-inc-232222",
            storageBucket: "k-inc-232222.appspot.com",
            messagingSenderId: "827804821456"
        };
        firebase.initializeApp(config);
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- Required MDC Web JavaScript library -->
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <script src="notifications.js"></script>
    <script src="index.js"></script>
</body>

</html>