body {
    --color-main: #4444ff;
    --color-secondary: #111;
    --color-background: white;
    --color-light: #6666ff;
    --mdc-theme-primary: #4444ff;
    --mdc-theme-secondary: black;
    --mdc-theme-surface: #4444ff;
    --mdc-theme-background: #cccccc;
    --mdc-theme-on-primary: white;
    --mdc-theme-on-surface: black;
    font-family: neue-haas-unica, sans-serif;
    padding: 0;
    margin: 0;
}

#topics {
    color: var(--color-main);
    width: calc(12em - 6px);
    height: 100%;
    margin: 0;
    padding: 16px;
    display: inline-block;
    border-right: 2px var(--color-secondary) solid;
    border: none;
    box-shadow: 0 0 10px 0 #00000066;
}

#navbar {
    position: absolute;
    top: 0;
    padding-bottom: 40px;
}

#content-body {
    position: absolute;
    z-index: 1000000;
    margin-top: calc(3em + 16px);
    border: 2px black solid;
    border-radius: 16px;
    background: white;
    box-shadow: 0 -4px 40px #00000099;
}

#main-content {
    width: calc(100vw - 12em - 30px);
    height: calc(100vh - 3em - 10px);
    float: right;
}

#main-content > * {
    height: calc(100vh - 3em - 10px);
    display: inline-block;
}

#loading {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: calc(1.5em + 10px);
    left: 0;
    text-align: center;
    font-size: 2em;
    background: var(--color-background);
    padding: 100px 0;
    z-index: 100000000;
}

.topic-item {
    border-radius: 4px;
    margin: 4px;
    cursor: pointer;
    height: calc(1em + 12px);
    padding: 6px;
}

.topic-item::before {
    content: '::';
    opacity: 0.6;
}

.topic-item:hover {
    background: var(--color-main);
    color: white;
    border: none;
}

.topic-item.selected {
    background: var(--color-main);
    color: white;
}

#more-topics::before {
    content: 'Topics';
    display: block;
    margin: 10px;
    margin-left: -16px;
    margin-right: -16px;
    padding: 4px 0;
    text-align: center;
}

k-navbar, .k-navbar {
    border: none;
    box-shadow: 0 2px 8px #00000066;
    background: white;
    color: var(--color-main);
    z-index: 100000000 !important;
}

#blitzboard-title {
    position: absolute;
    left: 12em;
}

#posts {
    width: calc(70vw - 12em);
    border-right: 2px var(--color-secondary) solid;
    transition: all 0.3s;
    background: var(--color-background);
    overflow: auto;
}

#chat {
    position: absolute;
    top: calc(3em + 10.5px);
    width: calc(30vw - 2em - 2px);
    padding: 0;
    transition: all 0.3s;
    background: var(--color-background);
}

#chat-bodies {
    width: 100%;
    padding: 16px;
    margin-top: calc(-3em - 11px);
    height: calc(100vh - 10em - 14px);
    max-height: calc(100vh - 10em - 14px);
    overflow: auto;
}

#chat-input {
    width: 100%;
}

#chat-input-button:hover {
    color: #4444ff!important;
}

#chat-input-container {
    bottom: 0;
    background: white;
    width: 100%;
    padding: 10px;
}

#chat-input::placeholder {
    color: black;
    opacity: 0.6;
}

.message {
    padding: 4px 0px;
}

.message-body {
    border-radius: 4px;
    padding: 6px 8px;
    margin: 0;
    margin-bottom: 4px;
    display: inline-flex;
    transform: translateY(-10px);
    max-width: calc(30vw - 8em - 18px);
    background: #4444ff33;
}

.message-info {
    margin: 2px;
    margin-top: -16px;
    font-size: 0.8em;
}

.message-info--time {
    opacity: 0.4;
}

.profile-picture {
    display: inline-block;
    border-radius: 500px;
    border: 2px var(--color-secondary) solid;
    margin-right: 4px;
    height: 30px;
    width: 30px;
}

#posts.expanded, #chat.expanded {
    width: calc(100vw - 14em);
    position: absolute;
    z-index: 10;
}

.mdc-button {
    font-weight: bold;
}

#new-post-wrapper {
    border-bottom: 2px var(--color-main) solid;
    box-shadow: 10px 0 8px 0 #00000088;
    padding: 6px 16px;
    padding-bottom: 14px;
    padding-top: 20px;
}

#new-post-main {
    max-height: 0px;
    overflow: hidden;
    transition: all 0.3s;
}

#new-post-main > * {
    margin: 8px;
}

#new-post-main.shown {
    max-height: 100%;
}

#new-post-wrapper > input {
    margin-bottom: 8px;
}

#new-post-name {
    width: 20em;
}

#new-post-upload {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

#new-post-topics {
    margin-bottom: 6px;
}

.new-post-topic {
    border: 2px var(--color-main) solid;
    margin: 2px;
    padding: 4px;
}

.post-wrapper {
    border-radius: 10px;
    display: inline-block;
    padding: 16px;
    margin: 16px;
    padding-bottom: calc(16px + 2em);
    background-color: white;
    background-size: cover;
    min-width: 200px;
}

.post-wrapper.has-image{
    background-size: cover !important;
}

.post-wrapper.has-image .post-content-span, .post-wrapper.has-image .post-top {
    background: white;
    border-radius: 4px;
}

.post-user {
    color: #00000066;
    margin-left: 4px;
}

.posts-body {
    height: 100%;
    background: var(--color-background);
}

.post-title {
    width: 30vw;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 1.6em;
    font-weight: bold;
}

.post-points {
    padding: 6px;
    background: var(--color-main);
    border-radius: 8px;
    color: white;
    min-width: 1.4em;
    margin: 4px;
    text-align: center;
}

.plus-button, .minus-button {
    padding: 3.5px;
    padding-top: 2px;
    min-width: 1.6em;
    text-align: center;
    font-weight: bold;
}

.post-img {
    vertical-align: top;
    width: 100%;
    opacity: 0;
}

.float-right {
    float: right;
}

.post-topic-item {
    padding: 2px 4px;
    padding-top: 2px;
    background: var(--color-main);
    border-radius: 8px;
    color: white;
    text-align: center;
    margin: 0 4px 0 4px;
}

.post-topics-wrapper {
    margin-right: -10px;
}

::-webkit-scrollbar {
    width: 16px;
    background: #4444ff33;
    border-radius: 1000px;
    border: 4px var(--color-background) solid;
}

::-webkit-scrollbar-thumb {
    border-radius: 1000px;
    background: #4444ff66;
    border: 4px var(--color-background) solid;
}

::-webkit-scrollbar-thumb:hover {
    background: #4444ff;
}

::selection {
    background: #4444ff66;
    border-radius: 4px;
}