body {
    --color-main: #4444ff;
    --color-secondary: #111;
    --color-background: white;
    --color-light: #6666ff;
    font-family: neue-haas-unica, sans-serif;
    padding: 0;
    margin: 0;
}

#topics {
    color: var(--color-main);
    width: calc(12em - 2px);
    height: 100%;
    margin: 0;
    padding: 16px;
    display: inline-block;
    border-right: 2px var(--color-secondary) solid;
    border: none;
    position: absolute;
    top: calc(3em + 8px);
    box-shadow: 0 0 10px 0 #00000066;
    z-index: 100;
}

#content-body {
    width: 100vw;
    height: 100vh;
    margin-top: calc(3em + 10px);
    padding: 0;
}

#main-content {
    width: calc(100vw - 12em - 30px);
    height: calc(100vh - 3em - 10px);
    float: right;
}

#main-content > * {
    height: calc(100vh - 3em - 10px);
    display: inline-block;
}

#loading {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: calc(1.5em + 10px);
    left: 0;
    text-align: center;
    font-size: 2em;
    background: var(--color-background);
    padding: 100px 0;
    z-index: 100000000;
}

.topic-item {
    border-radius: 4px;
    margin: 4px;
    cursor: pointer;
    height: calc(1em + 12px);
    padding: 6px;
}

.topic-item::before {
    content: '::';
    opacity: 0.6;
}

.topic-item:hover {
    background: var(--color-main);
    color: white;
    border: none;
}

.topic-item.selected {
    background: var(--color-main);
    color: white;
}

#more-topics::before {
    content: 'Topics';
    display: block;
    margin: 10px;
    margin-left: -16px;
    margin-right: -16px;
    padding: 4px 0;
    text-align: center;
}

k-navbar, .k-navbar {
    border: none;
    box-shadow: 0 4px 50px #00000066;
    background: white;
    color: var(--color-main);
    z-index: 100000000 !important;
}

#blitzboard-title {
    position: relative;
    left: 8em;
}

#posts {
    width: calc(70vw - 12em);
    border-right: 2px var(--color-secondary) solid;
    transition: all 0.3s;
    background: var(--color-background);
    overflow: auto;
}

#chat {
    position: absolute;
    top: calc(3em + 10.5px);
    width: calc(30vw - 2em - 2px);
    padding: 0;
    transition: all 0.3s;
    background: var(--color-background);
}

#chat-bodies {
    width: 100%;
    padding: 16px;
    height: calc(100vh - 7em - 8px);
    max-height: calc(100vh - 7em - 8px);
    overflow: auto;
}

#chat-input {
    height: 1em;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0;
    color: black;
    border-top: 2px var(--color-secondary) solid;
    border-radius: 0!important;
    box-shadow: 0 -4px 14px 0 #00000066;
    background: var(--color-background);
    color: var(--color-main);
}

#chat-input::placeholder {
    color: black;
    opacity: 0.6;
}

.message {
    padding: 0.1em 0px;
}

.message-body {
    border: 2px var(--color-secondary) solid;
    border-radius: 4px;
    padding: 4px 8px;
    margin: 0;
    margin-bottom: 4px;
    display: inline-flex;
    transform: translateY(-10px);
    max-width: calc(30vw - 8em - 18px);
}

.message-info {
    color: var(--color-main);
    margin: 2px;
    margin-top: -16px;
    font-size: 0.8em;
}

.message-info--time {
    opacity: 0.4;
}

.profile-picture {
    display: inline-block;
    border-radius: 500px;
    border: 2px var(--color-secondary) solid;
    margin-right: 4px;
    height: 30px;
    width: 30px;
}

#posts.expanded, #chat.expanded {
    width: calc(100vw - 14em);
    position: absolute;
    z-index: 10;
}

#new-post-button {
    --color-main: #4444ff;
    --color-secondary: #4444ff;
    background: var(--color-main);
    color: white!important;
    margin-bottom: -100px;
    box-shadow: 2px 2px 4px 0 #00000066;
}

#new-post-wrapper {
    border-bottom: 2px var(--color-main) solid;
    box-shadow: 10px 0 8px 0 #00000088;
    padding: 6px 16px;
    padding-bottom: 14px;
}

#new-post-main {
    max-height: 0px;
    overflow: hidden;
    transition: all 0.3s;
}

#new-post-main.shown {
    max-height: 100%;
}

#new-post-wrapper > input {
    margin-bottom: 8px;
}

#new-post-name {
    width: 20em;
}

#new-post-upload {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

#new-post-topics {
    margin-bottom: 6px;
}

.new-post-topic {
    border: 2px var(--color-main) solid;
    margin: 2px;
    padding: 4px;
}

.post-wrapper {
    background: white;
    box-shadow: 10px 6px 14px 0 #00000044, -6px -4px 14px #00000022;
    border: none;
}

.post-bottom {
    border-color: var(--color-main);
}

.posts-body {
    height: 100%;
    background: var(--color-background);
}

.post-title {
    width: 30vw;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.post-points {
    padding: 3.5px;
    border-top: 2px var(--color-secondary) solid;
    border-bottom: 2px var(--color-secondary) solid;
    position: relative;
    top: 2.5px;
}

.plus-button, .minus-button {
    padding: 8px;
}

.plus-button {
    background: #44ff77;
    border-radius: 8px 0 0 8px;
}

.minus-button {
    background: #ff6655;
    border-radius: 0 8px 8px 0;
}

button {
    outline: none!important;
}

.post-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.float-right {
    float: right;
}

.post-topic-item {
    border: 2px var(--color-main) solid;
    border-radius: 4px;
    margin: 4px;
    padding: 4px;
    position: relative;
    top: -2.4em;
    color: var(--color-main);
}

.post-topics-wrapper {
    margin-right: 0.4em;
}

::-webkit-scrollbar {
    width: 16px;
    background: #4444ff33;
    border-radius: 1000px;
    border: 4px var(--color-background) solid;
}

::-webkit-scrollbar-thumb {
    border-radius: 1000px;
    background: #4444ff66;
    border: 4px var(--color-background) solid;
}

::-webkit-scrollbar-thumb:hover {
    background: #4444ff;
}