body {
    --color-main: #ff8844;
    --color-secondary: black;
    --color-background: white;
    font-family: neue-haas-unica, sans-serif;
    padding: 0;
    margin: 0;
}

#topics {
    width: calc(12em - 2px);
    height: 100%;
    background: #ffaa66;
    margin: 0;
    padding: 16px;
    display: inline-block;
    border-right: 2px var(--color-secondary) solid;
}

#content-body {
    width: 100vw;
    height: 100vh;
    margin-top: calc(3em + 10px);
    padding: 0;
}

#main-content {
    width: calc(100vw - 12em - 32px);
    height: calc(100vh - 3em - 10px);
    float: right;
}

#main-content > * {
    height: calc(100vh - 3em - 10px);
    display: inline-flex;
}

#nothing-here {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: calc(1.5em + 10px);
    left: 0;
    text-align: center;
    font-size: 2em;
    background: #ffaa66;
    padding: 100px 0;
}

.topic-item {
    border-radius: 4px;
    margin: 4px;
    cursor: pointer;
    height: calc(1em + 12px);
    padding: 6px;
}

.topic-item::before {
    content: ':: ';
    opacity: 0.6;
}

.topic-item:hover {
    border: 2px var(--color-secondary) solid;
    transform: translate(-2px, -2px);
    margin-bottom: -2px;
}

.topic-item.selected {
    background: var(--color-secondary);
    color: white;
    border: 2px var(--color-secondary) solid;
    transform: translate(-2px, -2px);
    margin-bottom: -2px;
}

#more-topics::before {
    content: 'Topics';
    background: #ffffff99;
    display: block;
    margin: 10px;
    margin-left: -16px;
    margin-right: -16px;
    padding: 4px 0;
    text-align: center;
}

#blitzboard-title {
    position: relative;
    left: 8em;
}

#posts {
    width: calc(70vw - 12em);
    border-right: 2px var(--color-secondary) solid;
}

#chat {
    position: absolute;
    right: 0;
    top: calc(3em + 11px);
    width: calc(30vw - 2em - 2px);
    padding: 0;
    margin-left: -4px;
}

#chat-bodies {
    width: 100%;
    padding: 16px;
    height: calc(100vh - 7em - 8px);
    max-height: calc(100vh - 7em - 8px);
    overflow: auto;
}

#chat-input {
    height: 1em;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0;
    background: #ffaa66;
    color: black;
}

.message {
    padding: 0.1em 0px;
}

.message-body {
    border: 2px var(--color-secondary) solid;
    border-radius: 4px;
    padding: 8px;
    margin: 0;
    display: inline-block;
    transform: translateY(-16px);
}

.message-info {
    margin: 2px;
    margin-top: -16px;
}

.profile-picture {
    display: inline-block;
    border-radius: 500px;
    border: 2px var(--color-secondary) solid;
    margin-right: 4px;
}